Repository dracut-ng/dracut-ng, pull requests merged in 2024-07, with the labels that each got.

#437 feat(hwdb): separate out hwdb module
  .github/labeler.yml
  modules.d/01systemd-udevd/module-setup.sh
  modules.d/95hwdb/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
Labels: modules, udev-rules, github, systemd-udevd

#407 fix(dbus-daemon): actually enable the dbus service and socket
  modules.d/06dbus-daemon/module-setup.sh
Labels: modules, dbus-daemon

#438 ci: run systemd-networkd tests on Ubuntu as well
  .github/workflows/integration.yml
Labels: github

#452 fix: rename dracut.conf.d .conf files to .conf.example
  dracut.conf.d/50-fips.conf.example
  dracut.conf.d/50-generic.conf.example
  dracut.conf.d/50-hostonly.conf.example
  dracut.conf.d/50-rescue.conf.example
Labels: github

#453 test: increase VM memory size to pass test 40 on more VMs
  .github/workflows/integration.yml
  test/run-qemu
Labels: test, github

#447 test: do not disable selinux for tests
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
  test/test-functions
  tools/test-github.sh
Labels: test

#455 docs: correct shutdown path disucssion
  man/dracut.asc
  modules.d/98dracut-systemd/dracut-shutdown.service.8.asc
Labels: modules, dracut-systemd, man

#462 test: run some networking tests sequentially to make it less flaky
  .github/workflows/integration.yml
Labels: github

#458 ci: add systemd-coredump to Debian/Ubuntu containers
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Ubuntu
Labels: test

#478 test: avoid writing to rootfs as it might be read-only
  modules.d/80test-root/test-init.sh
Labels: test, modules

#459 test: delete hosts files that are not used by tests
  test/TEST-20-NFS/hosts
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/hosts
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/hosts
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/hosts
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/hosts
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/hosts
  test/TEST-60-BONDBRIDGEVLAN/test.sh
Labels: test, modules

#475 test(TEST-40-NBD): no need to add kernel modules manually
  test/TEST-40-NBD/test.sh
Labels: test

#473 docs: remove suggesting that hostonly option is only for experts
  man/dracut.usage.asc
Labels: man

#468 ci: run extended tests on Alpine and Void as well
  .github/workflows/integration.yml
Labels: github

#477 feat(debug): add findmnt to help debugging
  modules.d/95debug/module-setup.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test, modules, debug

#482 fix(net-lib): require and install only the necessary binaries
  modules.d/45net-lib/module-setup.sh
Labels: modules, net-lib

#483 test: drop 'quiet' from kernel cmdline on verbose runs
  test/test-functions
Labels: test

#479 perf(dracut-install): use driver/module sysfs dirs for module name
  src/install/dracut-install.c
Labels: dracut-install

#485 fix(nfs): support rpcbind user named _rpc
  modules.d/95nfs/module-setup.sh
  modules.d/95nfs/nfs-lib.sh
  modules.d/95nfs/nfs-start-rpc.sh
  modules.d/95nfs/parse-nfsroot.sh
Labels: modules, nfs

#457 fix(systemd): check for systemd-vconsole-setup.service
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#467 feat(multipath): omit module if included with no multipath devices and no user conf
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#469 fix(systemd-pcrphase): make tpm2-tss an optional dependency
  modules.d/01systemd-pcrphase/module-setup.sh
Labels: modules, systemd-pcrphase

#487 fix(Dockerfile-Gentoo): add requirements for systemd-pcrphase
  test/container/Dockerfile-Gentoo
Labels: test

#461 fix(dracut-install): copy xattr when use clone ioctl
  src/install/dracut-install.c
Labels: dracut-install

#488 feat(kernel-modules): Install platform/chrome modules on ARM/RISC-V
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#494 fix(test): run test 14 with systemd again
  test/TEST-14-IMSM/test.sh
Labels: test

#490 dmdquash-live-root: Add support for using erofs
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live

#497 feat(test): add erofs-utils to the containers
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-OpenSuse-latest
  test/container/Dockerfile-Ubuntu
  test/container/Dockerfile-Void
  test/container/Dockerfile-alpine
Labels: test

#507 fix(systemd): move installation of libkmod to udev-rules module
  modules.d/00systemd/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
Labels: systemd, modules, udev-rules

#509 fix(multipath): include module with "find_multipaths strict"
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath

#501 test(DMSQUASH): no need to partition root_erofs disk
  test/TEST-16-DMSQUASH/create-root.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test

#513 chore(github): use committer team for code owners
  .github/CODEOWNERS
Labels: github

#516 chore: remove support for old mdadm versions
  modules.d/90mdraid/module-setup.sh
Labels: modules, mdraid

#518 chore: remove empty check functions
  modules.d/03modsign/module-setup.sh
  modules.d/03rescue/module-setup.sh
  modules.d/10i18n/module-setup.sh
  modules.d/50drm/module-setup.sh
  modules.d/90dm/module-setup.sh
  modules.d/90kernel-network-modules/module-setup.sh
  modules.d/90nvdimm/module-setup.sh
  modules.d/91zipl/module-setup.sh
  modules.d/95dasd_mod/module-setup.sh
  modules.d/95debug/module-setup.sh
  modules.d/95lunmask/module-setup.sh
  modules.d/95virtfs/module-setup.sh
  modules.d/96securityfs/module-setup.sh
  modules.d/97biosdevname/module-setup.sh
  modules.d/97masterkey/module-setup.sh
  modules.d/98selinux/module-setup.sh
  modules.d/99fs-lib/module-setup.sh
  modules.d/99img-lib/module-setup.sh
Labels: modules, modsign, rescue, i18n, drm, dm, kernel-network-modules, nvdimm, zipl, dasd_mod, debug, lunmask, virtfs, securityfs, masterkey, biosdevname, selinux, fs-lib, img-lib

#521 test: check for kernel module support from within the VM
  test/TEST-16-DMSQUASH/create-root.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test

#523 test(RAID-DEG): make it not flaky
  test/TEST-12-RAID-DEG/test.sh
Labels: test

#524 fix(watchdog): change the priority of watchdog kernel modules
  modules.d/04watchdog/watchdog.sh
Labels: modules, watchdog

#519 feat(pcmcia): only include when another module requires it
  modules.d/90pcmcia/module-setup.sh
Labels: modules, pcmcia

#529 revert(crypt): do not unlock encrypted devices by default during boot
  modules.d/90crypt/parse-crypt.sh
Labels: modules, crypt

#530 chore(mksh)!: remove mksh dracut module
  modules.d/00mksh/module-setup.sh
Labels: modules, mksh

#542 ci: install systemd-experimental into openSUSE container
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#544 ci: do not remove native dracut installation from the test containers
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#541 fix(man): update description of the --gzip option
  man/dracut.8.asc
Labels: man

#551 ci: mark tests no-hostonly that are failing in hostonly mode
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-17-LVM-THIN/test.sh
Labels: test

#553 ci: improve test LVM, IMSM and LVM-THIN to work in hostonly mode
  test/TEST-11-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-17-LVM-THIN/test.sh
Labels: test

#554 test(UEFI): second initrd would just overwrite the first
  test/TEST-18-UEFI/test.sh
Labels: test
