Repository dracut-ng/dracut-ng, pull requests merged in 2024-08, with the labels that each got.

#555 ci: drop privileged container flag to run tests sandboxed
  .github/workflows/integration.yml
Labels: github

#571 fix(dracut-install): refuse empty DRACUT_LDD environment variable
  src/install/dracut-install.c
Labels: dracut-install

#290 fix(rngd): install system service file
  modules.d/06rngd/module-setup.sh
  modules.d/06rngd/rngd.service
  modules.d/06rngd/sysconfig
Labels: modules, rngd

#578 fix(systemd): make nologin optional
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#577 fix(test): always install kernel modules
  modules.d/80test-makeroot/module-setup.sh
  modules.d/80test/module-setup.sh
Labels: test, modules

#573 fix(nfs): include also entries from /usr/lib/{passwd,group}
  modules.d/95nfs/module-setup.sh
Labels: modules, nfs

#580 fix(95squash-erofs): properly exclude $squashdir
  modules.d/95squash-erofs/module-setup.sh
Labels: modules

#511 feat(systemd*): Include systemd config files from /usr/lib/systemd
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-pstore/module-setup.sh
  modules.d/01systemd-resolved/module-setup.sh
  modules.d/01systemd-timesyncd/module-setup.sh
Labels: systemd, modules, systemd-networkd, systemd-coredump, systemd-journald, systemd-resolved, systemd-timesyncd, systemd-pstore

#585 fix(crypt): install dm_crypt module in non-hostonly mode as well
  modules.d/90crypt/module-setup.sh
Labels: modules, crypt

#588 test(ISMS): only include mdraid into the initrd under test
  test/TEST-14-IMSM/test.sh
Labels: test

#589 ci(alpine): install dracut to enable native dracut configuration
  test/container/Dockerfile-alpine
Labels: test

#587 test(FULL-SYSTEM): simplify and make it easier to maintain
  test/TEST-04-FULL-SYSTEMD/test-init.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#592 fix(udev-rules): install dropins for udev.conf
  modules.d/95udev-rules/module-setup.sh
Labels: modules, udev-rules

#595 fix(systemd): remove duplicate systemd cryptsetup targets
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#570 fix(systemd-initrd): Add base as dependency
  .github/workflows/integration.yml
  modules.d/01systemd-initrd/module-setup.sh
  test/TEST-05-SYSTEMD-INITRD/Makefile
  test/TEST-05-SYSTEMD-INITRD/create-root.sh
  test/TEST-05-SYSTEMD-INITRD/test.sh
Labels: systemd, test, modules, systemd-initrd, github

#596 fix(udev-rules): move *-persistent-storage.rules to rootfs-block
  modules.d/95rootfs-block/59-persistent-storage.rules
  modules.d/95rootfs-block/61-persistent-storage.rules
  modules.d/95rootfs-block/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
Labels: modules, rootfs-block, udev-rules

#597 test(SYSTEMD-INITRD): call test_dracut instead of repeating it
  test/TEST-05-SYSTEMD-INITRD/test.sh
Labels: test

#599 test(SYSTEMD): let dracut figure out to include systemd for this test
  test/TEST-02-SYSTEMD/test.sh
Labels: test

#515 chore!: drop support for ifcfg
  modules.d/45ifcfg/module-setup.sh
  modules.d/45ifcfg/write-ifcfg.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
Labels: test, modules, ifcfg

#601 test(test.sh): script to run tests in podman
  docs/HACKING.md
  tools/test-podman.sh
Labels: docs

#605 ci(Debian): remove dmraid in preparation for next Debian release
  test/TEST-14-IMSM/test.sh
  test/container/Dockerfile-Debian
Labels: test

#615 ci(Gentoo): fix docker warning
  test/container/Dockerfile-Gentoo
Labels: test

#610 fix(base): remove undocumented real_init, realinitpath and rd.distroinit
  modules.d/99base/init.sh
  modules.d/99base/module-setup.sh
Labels: modules, base

#611 chore(fs-lib): remove reiserfs support
  dracut.sh
  man/dracut.conf.5.asc
  modules.d/95rootfs-block/module-setup.sh
  modules.d/95rootfs-block/mount-root.sh
  modules.d/99fs-lib/fs-lib.sh
  modules.d/99fs-lib/module-setup.sh
Labels: modules, rootfs-block, fs-lib, man

#576 feat(fips-crypto-policies): make c-p follow FIPS mode automatically
  modules.d/01fips-crypto-policies/fips-crypto-policies.sh
  modules.d/01fips-crypto-policies/module-setup.sh
Labels: modules

#604 fix(systemd): systemd-vconsole-setup has a dependency on loadkeys
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#602 test(SYSTEMD-INITRD): kernel-independent systemd-based initrd
  test/TEST-05-SYSTEMD-INITRD/test.sh
Labels: test, modules, dracut-systemd

#617 fix(lvm): clean up whitespace in messages
  modules.d/90lvm/lvm_scan.sh
Labels: modules, lvm

#619 fix(systemd-networkd): make sure default network is always last
  modules.d/01systemd-networkd/module-setup.sh
  modules.d/01systemd-networkd/networkd-config.sh
Labels: modules, systemd-networkd

#621 revert(systemd): trigger systemd-vconsole-setup.service only on demand
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-ask-password/module-setup.sh
Labels: systemd, modules, systemd-ask-password

#624 ci: add more packages to Debian and Ubuntu containers
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Ubuntu
Labels: test

#614 fix(systemd-networkd): Remove basename dependency
  modules.d/01systemd-networkd/networkd-run.sh
Labels: modules, systemd-networkd

#607 test: document and fix extra verbose mode (V=2)
  .github/workflows/integration.yml
  docs/HACKING.md
  test/test-functions
  tools/test-github.sh
Labels: test, github, docs

#631 fix(Dockerfile-Gentoo): explicitly pull in all build dependencies
  test/container/Dockerfile-Gentoo
Labels: test

#629 test: network dracut package needs to be added with '-a'
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
Labels: test
