Repository dracut-ng/dracut-ng, pull requests merged in 2024-04, with the labels that each got.

#58 ci: only run C code scan if src/ directory changed
  .github/workflows/codeql.yml
Labels: github

#61 fix(dmsquash-live): use the overlay size with thin provisioning
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live

#57 fix(release): dracutdevs/dracut --> dracut-ng/dracut-ng
  docs/RELEASE.md
  tools/release.sh
Labels: docs

#75 Enable Differential ShellCheck
  .github/workflows/lint.yml
Labels: github

#78 ci: disable running flaky tests on openSUSE
  .github/workflows/integration.yml
Labels: github

#80 ci: switch Commisery to upstream
  .github/workflows/pr.yml
Labels: github

#89 ci: don't validate the pull request title
  .github/workflows/pr.yml
Labels: github

#88 ci: drop which package from CI containers
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#77 revert(dracut-install): file created without restricting permissions
  src/install/dracut-install.c
Labels: dracut-install, initial development, bump:patch

#81 test(LVM): make test 11 use the test dracut modules
  test/TEST-11-LVM/finished-false.sh
  test/TEST-11-LVM/hard-off.sh
  test/TEST-11-LVM/test.sh
Labels: test

#91 test(NFS): enable NFSv4 tests
  .github/workflows/integration.yml
  test/TEST-20-NFS/test.sh
Labels: test, github

#95 fix(dracut-lib): use poweroff instead of halt
  modules.d/98dracut-systemd/dracut-emergency.sh
  modules.d/99base/dracut-lib.sh
Labels: modules, dracut-systemd, base

#98 test(FULL-SYSTEMD): use poweroff to shut down test
  test/TEST-04-FULL-SYSTEMD/test-init.sh
Labels: test

#131 ci: improve Gentoo container
  .github/workflows/container.yml
  test/container/Dockerfile-Gentoo
  test/container/Dockerfile-alpine
Labels: test, github

#138 ci: enable alpine for basic tests
  .github/workflows/integration.yml
  .github/workflows/manualtest.yml
Labels: github

#118 fix(systemd): explicitly install some libs that will not be statically included
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-journald/module-setup.sh
Labels: systemd, modules, compatibility, systemd-coredump, systemd-journald, systemd-only

#149 tests: disable debug log by default
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
  test/TEST-63-DRACUT-CPIO/test.sh
Labels: test

#125 fix(systemd-sysext): handle confexts and correct extensions search path
  modules.d/01systemd-sysext/module-setup.sh
Labels: modules, systemd-sysext

#97 fix(test): do not omit dracut modules for initramfs.testing
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
Labels: test

#161 ci: enable Void Linux for basic tests with runit
  .github/workflows/container.yml
  .github/workflows/integration.yml
  .github/workflows/manualtest.yml
  test/container/Dockerfile-Void
Labels: test, github

#147 ci: enable systemd-networkd testing
  .github/workflows/integration.yml
Labels: test, github

#151 tests: remove ib700wdt kernel module from tests
  test/TEST-01-BASIC/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
Labels: test

#156 docs(README.md): repology badges
  README.md
Labels: docs

#162 test(RAID-DEG): make test 12 use the test dracut modules
  modules.d/80test/hard-off.sh
  test/TEST-12-RAID-DEG/finished-false.sh
  test/TEST-12-RAID-DEG/test.sh
Labels: test, modules

#174 test(LVM-THIN): make sure dm_thin_pool Linux kernel module is loaded
  test/TEST-17-LVM-THIN/create-root.sh
  test/TEST-17-LVM-THIN/test.sh
Labels: test

#178 test(ISMS): make test 14 use the test dracut modules
  test/TEST-14-IMSM/create-root.sh
  test/TEST-14-IMSM/hard-off.sh
  test/TEST-14-IMSM/test.sh
Labels: test

#179 test(BTRFSRAID): make test 15 use the test dracut modules
  test/TEST-15-BTRFSRAID/finished-false.sh
  test/TEST-15-BTRFSRAID/hard-off.sh
  test/TEST-15-BTRFSRAID/test.sh
Labels: test

#198 fix(test): fixup Gentoo CI
  test/container/Dockerfile-Gentoo
Labels: test

#169 ci: enable testing on arm64
  .github/workflows/container.yml
Labels: github

#201 fix(test): add support for thin volumes in the Gentoo container
  test/container/Dockerfile-Gentoo
Labels: test

#182 test(ENC-RAID-LVM): make test 13 use the test dracut modules
  test/TEST-13-ENC-RAID-LVM/finished-false.sh
  test/TEST-13-ENC-RAID-LVM/hard-off.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
Labels: test

#196 test(LVM-THIN): make test 17 use the test dracut modules
  test/TEST-17-LVM-THIN/finished-false.sh
  test/TEST-17-LVM-THIN/hard-off.sh
  test/TEST-17-LVM-THIN/test.sh
Labels: test

#199 test: switch to virtio for the QEMU drive
  modules.d/80test/module-setup.sh
  test/TEST-01-BASIC/create-root.sh
  test/TEST-01-BASIC/test-init.sh
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/create-root.sh
  test/TEST-02-SYSTEMD/test-init.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/create-root.sh
  test/TEST-03-USR-MOUNT/fstab
  test/TEST-03-USR-MOUNT/test-init.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/create-root.sh
  test/TEST-04-FULL-SYSTEMD/fstab
  test/TEST-04-FULL-SYSTEMD/test-init.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/create-root.sh
  test/TEST-10-RAID/test-init.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/create-root.sh
  test/TEST-11-LVM/test-init.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/create-root.sh
  test/TEST-12-RAID-DEG/test-init.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-14-IMSM/create-root.sh
  test/TEST-14-IMSM/test-init.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/create-root.sh
  test/TEST-15-BTRFSRAID/test-init.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/create-root.sh
  test/TEST-16-DMSQUASH/test-init.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-18-UEFI/test-init.sh
  test/TEST-18-UEFI/test.sh
  test/test-functions
Labels: test, modules, github

#205 ci: run GETARG test on arm64
  .github/workflows/integration.yml
  test/run-qemu
  tools/test-github.sh
Labels: test, github

#206 ci: make checkout faster and fix concurrency rules
  .github/workflows/integration.yml
Labels: github

#208 ci: install rust into each CI container
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Ubuntu
  test/container/Dockerfile-alpine
Labels: test

#207 test: switch to virtio for the QEMU drive
  test/TEST-13-ENC-RAID-LVM/create-root.sh
  test/TEST-13-ENC-RAID-LVM/test-init.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-17-LVM-THIN/create-root.sh
  test/TEST-17-LVM-THIN/test-init.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/client-init.sh
  test/TEST-20-NFS/create-root.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/client-init.sh
  test/TEST-30-ISCSI/create-client-root.sh
  test/TEST-30-ISCSI/create-server-root.sh
  test/TEST-30-ISCSI/server-init.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/client-init.sh
  test/TEST-35-ISCSI-MULTI/create-client-root.sh
  test/TEST-35-ISCSI-MULTI/create-server-root.sh
  test/TEST-35-ISCSI-MULTI/server-init.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/client-init.sh
  test/TEST-40-NBD/create-client-root.sh
  test/TEST-40-NBD/create-encrypted-root.sh
  test/TEST-40-NBD/create-server-root.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/client-init.sh
  test/TEST-50-MULTINIC/create-root.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/create-root.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
  test/test-functions
Labels: test

#175 feat(systemd-bsod): dracut module for systemd-bsod
  modules.d/01systemd-bsod/module-setup.sh
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Fedora-latest
Labels: systemd, test, modules

#184 fix(systemd-journald): add systemd dependency
  modules.d/01systemd-journald/module-setup.sh
Labels: modules, systemd-journald

#185 fix(crypt): add systemd-ask-password dependency if systemd is used
  modules.d/90crypt/module-setup.sh
Labels: modules, crypt

#188 fix(systemd-udevd): add systemd-sysctl dependency
  modules.d/01systemd-udevd/module-setup.sh
Labels: modules, systemd-udevd

#189 fix(systemd-initrd): add systemd-udevd dependency
  modules.d/01systemd-initrd/module-setup.sh
Labels: modules, systemd-initrd

#209 fix(systemd-initrd): only include it if another module depends on it
  modules.d/01systemd-initrd/module-setup.sh
Labels: modules, systemd-initrd

#197 perf(systemd-udevd): remove duplicate rules
  modules.d/01systemd-udevd/module-setup.sh
Labels: modules, systemd-udevd

#172 fix(dracut-init.sh): force to perform the actual action
  modules.d/98dracut-systemd/dracut-emergency.sh
  modules.d/99base/dracut-lib.sh
Labels: modules, dracut-systemd, base

#214 ci: enable Fedora for arm64
  .github/workflows/container.yml
  test/container/Dockerfile-Fedora-latest
Labels: test, github

#219 ci: multiplatform container needs to be built as one step
  .github/workflows/container.yml
Labels: github

#220 ci: add Fedora on arm64 to the integration tests
  .github/workflows/integration.yml
Labels: github

#227 ci: add more packages to the Void container to enable more testing
  test/container/Dockerfile-Void
Labels: test

#230 ci: add more packages to Debian and Ubuntu container to enable more testing
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Ubuntu
Labels: test

#218 fix(systemd-networkd): dbus is not a mandatory dependency
  modules.d/01systemd-networkd/module-setup.sh
Labels: bug, modules, systemd-networkd

#213 doc: remove incomplete and distribution specific information
  docs/README.generic
  man/dracut.usage.asc
Labels: man, docs

#222 ci: add (back) gentoo to run the extended testsuite
  .github/workflows/integration.yml
Labels: github

#224 fix(cpio): eliminate compile time warning
  src/dracut-cpio/src/main.rs
Labels: dracut-cpio

#229 fix: network-manager should include kernel-network-modules
  modules.d/35connman/module-setup.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-manager/module-setup.sh
Labels: modules, network-legacy, network-manager, connman

#237 fix(dracut-systemd): include systemd-ask-password module
  modules.d/98dracut-systemd/module-setup.sh
Labels: modules, dracut-systemd

#242 fix(numlock): use the same shebang as other dracut modules
  modules.d/90numlock/numlock.sh
Labels: modules

#247 perf(systemd): remove duplicate rules
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#234 fix(systemd-networkd): drop networkctl as it has a dependency on dbus
  modules.d/01systemd-networkd/module-setup.sh
Labels: modules, systemd-networkd

#252 test: update all tests to build initrd with test_dracut
  modules.d/80test/module-setup.sh
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-18-UEFI/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
  test/TEST-63-DRACUT-CPIO/test.sh
  test/test-functions
Labels: test, modules

#246 fix(systemd-initrd): systemd based initrd needs journald and tmpfiles
  modules.d/01systemd-initrd/module-setup.sh
Labels: modules, systemd-initrd
