Repository dracut-ng/dracut-ng, pull requests merged in 2024-05, with the labels that each got.

#259 ci: add systemd-boot-efi package to Ubuntu container for UEFI stub
  test/container/Dockerfile-Ubuntu
Labels: test

#260 test(UEFI): add support for OVMF_CODE_4M.fd for Ubuntu 24.04
  test/TEST-18-UEFI/test.sh
Labels: test

#261 perf(systemd): remove duplicate rules
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#267 fix(systemd-ask-password): resolve regression
  modules.d/01systemd-ask-password/module-setup.sh
Labels: modules, systemd-ask-password

#266 test(UEFI): run the test both hostonly and no-hostonly modes
  modules.d/80test/module-setup.sh
  test/TEST-18-UEFI/test.sh
  test/test-functions
Labels: test, modules

#263 test(NFS): increase virtual disk space to accomodate Ubuntu 24.04
  test/TEST-20-NFS/test.sh
Labels: test

#271 perf(dracut-systemd): check for systemd binary
  modules.d/98dracut-systemd/module-setup.sh
Labels: modules, dracut-systemd

#272 fix(memstrack): move the console warning to be a comment
  modules.d/99memstrack/module-setup.sh
Labels: modules, memstrack

#269 perf(systemd): remove duplicate rules
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-udevd/module-setup.sh
Labels: systemd, modules, systemd-udevd

#277 perf(systemd): remove duplicate rules
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-modules-load/module-setup.sh
Labels: systemd, modules, systemd-modules-load

#262 feat(systemd-cryptsetup): new module for systemd-cryptsetup
  modules.d/90crypt/module-setup.sh
  modules.d/90systemd-cryptsetup/module-setup.sh
Labels: modules, crypt

#278 perf(systemd): remove duplicate rules
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-sysctl/module-setup.sh
Labels: systemd, modules, systemd-sysctl

#279 fix(github): add the recently introduced modules to the labeler
  .github/labeler.yml
Labels: github

#280 perf(crypt): move more rules to systemd-cryptsetup
  modules.d/90crypt/module-setup.sh
  modules.d/90systemd-cryptsetup/module-setup.sh
Labels: modules, crypt, systemd-cryptsetup

#256 feat(systemd-pcrphase): include systemd-pcrphase if dependencies are met
  modules.d/01systemd-pcrphase/module-setup.sh
Labels: modules, systemd-pcrphase

#289 ci: switch to ubuntu-latest
  .github/workflows/codeql.yml
Labels: github

#291 ci: add rng-tools package to all test containers to test rngd dracut module
  test/container/Dockerfile-Debian
  test/container/Dockerfile-OpenSuse-latest
  test/container/Dockerfile-Ubuntu
  test/container/Dockerfile-Void
  test/container/Dockerfile-alpine
Labels: test

#292 fix(90kernel-modules): add psmouse for some Fujitsu laptops
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#295 ci: add tpm2-tools package to all test containers to test tpm2-tss dracut module
  test/container/Dockerfile-Debian
  test/container/Dockerfile-OpenSuse-latest
  test/container/Dockerfile-Ubuntu
Labels: test

#296 fix(configure): resolve regression for crosscompiling
  configure
Labels: regression

#298 fix: /etc/modprobe.d --> /run/modprobe.d
  man/dracut.modules.7.asc
  modules.d/01fips/fips-boot.sh
  modules.d/01fips/fips-load-crypto.sh
  modules.d/01fips/fips-noboot.sh
  modules.d/01fips/fips.sh
  modules.d/01fips/module-setup.sh
  modules.d/90kernel-modules/parse-kernel.sh
  modules.d/95lunmask/parse-lunmask.sh
  modules.d/98dracut-systemd/dracut-pre-udev.sh
Labels: modules, fips, kernel-modules, lunmask, dracut-systemd, man, compatibility

#301 tests: configure watchdog-action in run-qemu
  test/TEST-01-BASIC/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
  test/TEST-63-DRACUT-CPIO/test.sh
  test/run-qemu
Labels: test

#302 fix(base): log the full udev database in rdsosreport
  modules.d/99base/rdsosreport.sh
Labels: modules, base

#303 fix(base): install /etc/udev/udev.conf in hostonly mode only
  modules.d/01systemd-udevd/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
Labels: modules, udev-rules, systemd-udevd

#310 revert(dracut-install): check the existing file—not the source
  src/install/dracut-install.c
Labels: dracut-install, regression

#317 fix(systemd-ask-password): no graphical output in aarch64
  modules.d/01systemd-ask-password/module-setup.sh
Labels: modules, systemd-ask-password

#311 fix(fips): Remove /dev/{random,urandom} pre-creation
  modules.d/01fips/module-setup.sh
Labels: modules, fips

#300 fix(base): add support for rd.udev.log_level
  man/dracut.cmdline.7.asc
  modules.d/99base/init.sh
Labels: modules, base, man

#313 fix(01systemd-ldconfig): install ldconfig.real
  modules.d/01systemd-ldconfig/module-setup.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test, modules, systemd-ldconfig

#320 fix(crypt): unlock encrypted devices by default during boot
  modules.d/90crypt/parse-crypt.sh
Labels: modules, crypt

#319 fix(systemd-crypt): add potentially needed modules to generic initrd
  modules.d/90systemd-cryptsetup/module-setup.sh
Labels: modules, systemd-cryptsetup

#318 feat(pcmcia): factor out pcmcia support into its own module
  .github/labeler.yml
  modules.d/90kernel-modules/module-setup.sh
  modules.d/90pcmcia/module-setup.sh
  modules.d/95udev-rules/module-setup.sh
Labels: modules, kernel-modules, udev-rules, github

#293 feat(90dm): close crypt devices using cryptsetup
  modules.d/90dm/dm-shutdown.sh
Labels: modules, dm

#325 ci: add sbsigntool and ukify to test containers
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Gentoo
  test/container/Dockerfile-OpenSuse-latest
  test/container/Dockerfile-Ubuntu
  test/container/Dockerfile-Void
Labels: test

#330 fix(systemd-pcrphase): in hostonly mode do not try to include systemd-pcrphase
  modules.d/01systemd-pcrphase/module-setup.sh
Labels: modules, systemd-pcrphase

#328 perf(dracut-install): preload kmod resources for quicker module lookup
  src/install/dracut-install.c
Labels: dracut-install
