Repository dracut-ng/dracut-ng, pull requests merged in 2024-11, with the labels that each got.

#818 fix(dracut): rework timeout for devices added via --mount and --add-device
  dracut-functions.sh
  dracut.sh
  modules.d/99base/module-setup.sh
Labels: modules, base

#934 feat(dmsquash-live): add support for rd.live.overlay.nouserconfirmprompt
  man/dracut.cmdline.7.adoc
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live, man, docs

#954 docs: warn against the usage of -n, -o, -d
  man/dracut.8.adoc
Labels: man, docs

#1020 feat(nvmf): enable other shells (dash) not just bash
  modules.d/95nvmf/module-setup.sh
Labels: modules, nvmf

#1024 fix(base): remove fallback for shell selection
  modules.d/99base/module-setup.sh
Labels: modules, base

#1036 fix(systemd): systemd dlopens libbpf
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules

#1037 test(test-root): include terminfo dracut module
  test/modules.d/80test-root/module-setup.sh
Labels: test
