Repository dracut-ng/dracut-ng, pull requests merged in 2024-06, with the labels that each got.

#344 test(RAID-DEG): fix running test out of tree
  test/TEST-12-RAID-DEG/test.sh
Labels: test

#345 fix(shell-completion): remove hashbang from bash completions
  shell-completion/bash/dracut
  shell-completion/bash/lsinitrd
Labels: shell-completion

#348 feat(test): support V=2 without logtee
  test/test-functions
Labels: test

#350 fix(test): use `-cpu max` by default
  test/run-qemu
Labels: test

#353 fix: address shellcheck SC2166
  .shellcheckrc
  dracut-initramfs-restore.sh
  modules.d/00warpclock/module-setup.sh
  modules.d/01fips/fips.sh
  modules.d/02caps/caps.sh
  modules.d/30convertfs/convertfs.sh
  modules.d/35network-legacy/dhclient-script.sh
  modules.d/35network-legacy/ifup.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/45net-lib/ifname-genrules.sh
  modules.d/45net-lib/net-lib.sh
  modules.d/50plymouth/plymouth-pretrigger.sh
  modules.d/80cms/cmssetup.sh
  modules.d/80cms/module-setup.sh
  modules.d/81cio_ignore/module-setup.sh
  modules.d/90crypt/crypt-lib.sh
  modules.d/90crypt/cryptroot-ask.sh
  modules.d/90crypt/probe-keydev.sh
  modules.d/90dmraid/dmraid.sh
  modules.d/90dmsquash-live/apply-live-updates.sh
  modules.d/90dmsquash-live/dmsquash-live-root.sh
  modules.d/90livenet/livenetroot.sh
  modules.d/90multipath/module-setup.sh
  modules.d/91zipl/install_zipl_cmdline.sh
  modules.d/91zipl/module-setup.sh
  modules.d/95cifs/cifs-lib.sh
  modules.d/95dasd/module-setup.sh
  modules.d/95dasd_mod/module-setup.sh
  modules.d/95fcoe/fcoe-edd.sh
  modules.d/95fcoe/fcoe-up.sh
  modules.d/95fcoe/parse-fcoe.sh
  modules.d/95iscsi/module-setup.sh
  modules.d/95nbd/nbdroot.sh
  modules.d/95resume/resume.sh
  modules.d/95rootfs-block/module-setup.sh
  modules.d/95rootfs-block/mount-root.sh
  modules.d/95virtfs/mount-virtfs.sh
  modules.d/95virtiofs/mount-virtiofs.sh
  modules.d/95virtiofs/parse-virtiofs.sh
  modules.d/95zfcp/module-setup.sh
  modules.d/95znet/module-setup.sh
  modules.d/98selinux/selinux-loadpolicy.sh
  modules.d/99base/dracut-dev-lib.sh
  modules.d/99base/dracut-lib.sh
  test/TEST-20-NFS/client-init.sh
Labels: test, modules, warpclock, fips, caps, network-legacy, convertfs, cms, plymouth, cio_ignore, crypt, dmraid, dmsquash-live, livenet, iscsi, multipath, zipl, dasd, cifs, dasd_mod, fcoe, nbd, rootfs-block, resume, virtfs, zfcp, znet, selinux, base, virtiofs, net-lib

#358 fix(test-root): quote _terminfodir variable
  modules.d/80test-root/module-setup.sh
Labels: test, modules

#362 fix(nfs): quote rpcpipefspath variable
  modules.d/95nfs/nfsroot-cleanup.sh
Labels: modules, nfs

#342 fix(90kernel-modules): install blk modules using symbol blk_alloc_disk
  modules.d/90kernel-modules/module-setup.sh
Labels: modules, kernel-modules

#356 fix(dracut-lib): quote _b and var variable
  modules.d/99base/dracut-lib.sh
Labels: modules, base

#365 fix(lunmask): quote LUN variable
  modules.d/95lunmask/fc_transport_scan_lun.sh
  modules.d/95lunmask/sas_transport_scan_lun.sh
Labels: modules, lunmask

#364 fix(syslog): quote conf variable
  modules.d/98syslog/rsyslogd-start.sh
Labels: modules, syslog

#357 fix(dmsquash-live): quote variables
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live

#366 fix(dmsquash-live-autooverlay): quote variables
  modules.d/90dmsquash-live-autooverlay/create-overlay.sh
Labels: modules, dmsquash-live-autooverlay

#367 fix(znet): quote initdir variable
  modules.d/95znet/module-setup.sh
Labels: modules, znet

#368 fix(network-legacy): quote bridgename variable
  modules.d/35network-legacy/parse-bridge.sh
Labels: modules, network-legacy

#369 fix(convertfs): quote single CP_HARDLINK variable
  modules.d/30convertfs/convertfs.sh
Labels: modules, convertfs

#370 fix(zipl): quote ID_FS_TYPE variable
  modules.d/91zipl/module-setup.sh
Labels: modules, zipl

#371 fix(zipl): quote zipl_env variable
  modules.d/91zipl/parse-zipl.sh
Labels: modules, zipl

#375 fix: disable SC2317 for calls by for_each_host_dev_and_slaves
  modules.d/90kernel-modules/module-setup.sh
  modules.d/90multipath/module-setup.sh
  modules.d/95fcoe-uefi/module-setup.sh
  modules.d/95fcoe/module-setup.sh
  modules.d/95iscsi/module-setup.sh
  modules.d/95lunmask/module-setup.sh
  modules.d/95nvmf/module-setup.sh
Labels: modules, kernel-modules, iscsi, multipath, fcoe-uefi, lunmask, fcoe, nvmf

#381 tests: use --add instead of --modules to create test-makeroot
  .github/workflows/integration.yml
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-18-UEFI/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-40-NBD/test.sh
Labels: test, modules, crypt, github

#374 fix(systemd-networkd): this module depends on systemd
  modules.d/01systemd-networkd/module-setup.sh
Labels: modules, systemd-networkd

#373 fix(crypt): decryption when rd.luks.name is set
  modules.d/90crypt/parse-crypt.sh
Labels: modules, crypt

#326 refactor: use inst_sysusers to install sysusers files
  dracut-init.sh
  modules.d/01systemd-coredump/module-setup.sh
  modules.d/01systemd-journald/module-setup.sh
  modules.d/01systemd-networkd/module-setup.sh
  modules.d/01systemd-resolved/module-setup.sh
  modules.d/01systemd-sysusers/module-setup.sh
  modules.d/01systemd-timesyncd/module-setup.sh
  modules.d/06dbus-broker/module-setup.sh
  modules.d/91tpm2-tss/module-setup.sh
Labels: modules, systemd-networkd, dbus-broker, tpm2-tss, systemd-coredump, systemd-journald, systemd-resolved, systemd-sysusers, systemd-timesyncd

#386 refactor: replace long-time deprecated $tempnode with $devnode
  dracut-init.sh
  modules.d/90mdraid/59-persistent-storage-md.rules
  modules.d/90mdraid/parse-md.sh
  modules.d/95resume/parse-resume.sh
Labels: modules, mdraid, resume

#392 Fix nbd tests
  test/TEST-40-NBD/test.sh
Labels: test

#396 fix(convertfs): disable SC2317 for EXIT trap function
  modules.d/30convertfs/convertfs.sh
Labels: modules, convertfs

#397 test: disable SC2317 in test 98
  test/TEST-98-GETARG/test.sh
Labels: test

#398 fix(convertfs): drop unused find_mount function
  modules.d/30convertfs/convertfs.sh
Labels: modules, convertfs

#390 feat(qemu): include the virtio_crypto kernel module
  modules.d/90qemu/module-setup.sh
Labels: modules, qemu

#401 fix(man): clarify semantics for --kernel-cmdline
  dracut.sh
  man/dracut.8.asc
  man/dracut.conf.5.asc
Labels: man

#404 fix(TEST-NFS): use --add instead of --modules to create test-makeroot
  .github/workflows/integration.yml
  test/TEST-20-NFS/test.sh
Labels: test, github

#391 fix(test): tests needs more storage space
  test/TEST-10-RAID/test.sh
  test/TEST-12-RAID-DEG/test.sh
Labels: test

#394 test: use --kernel-cmdline to set only dracut arguments
  test/TEST-01-BASIC/test.sh
  test/TEST-02-SYSTEMD/test.sh
  test/TEST-03-USR-MOUNT/test.sh
  test/TEST-04-FULL-SYSTEMD/test.sh
  test/TEST-10-RAID/test.sh
  test/TEST-11-LVM/test.sh
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-13-ENC-RAID-LVM/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-15-BTRFSRAID/test.sh
  test/TEST-16-DMSQUASH/test.sh
  test/TEST-17-LVM-THIN/test.sh
  test/TEST-20-NFS/test.sh
  test/TEST-30-ISCSI/test.sh
  test/TEST-35-ISCSI-MULTI/test.sh
  test/TEST-50-MULTINIC/test.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
  test/test-functions
Labels: test

#418 fix(dbus): drop unreachable return statement
  modules.d/09dbus/module-setup.sh
Labels: modules, dbus

#410 fix(mdraid): try to assemble the missing raid device
  modules.d/90mdraid/mdraid_start.sh
Labels: modules, mdraid

#409 fix(systemd-networkd): remove default network if at least one other w…
  dracut.sh
  modules.d/01systemd-networkd/module-setup.sh
  modules.d/01systemd-networkd/networkd-config.sh
Labels: modules, systemd-networkd

#421 fix(systemd-hostnamed): add missing systemd-hostnamed.socket
  modules.d/01systemd-hostnamed/module-setup.sh
Labels: systemd, modules, compatibility, systemd-hostnamed

#405 fix(test): reenable extended tests for Arch
  .github/workflows/integration.yml
  test/TEST-12-RAID-DEG/test.sh
  test/TEST-14-IMSM/test.sh
  test/TEST-16-DMSQUASH/test.sh
Labels: test, github

#414 chore: remove trailing newlines
  NEWS.md
  docs/BASH.md
  docs/README.kernel
  dracut.conf.d/suse.conf.example
  man/dracut-catimages.8.asc
  man/dracut.asc
  man/dracut.conf.5.asc
  man/dracut.usage.asc
  test/Makefile
  tools/profile.py
Labels: test, man, docs

#413 feat(crypt): force the inclusion of crypttab entries with x-initrd.attach
  modules.d/90crypt/module-setup.sh
Labels: modules, crypt

#422 fix(systemd-hostnamed): Also enable socket units
  modules.d/01systemd-hostnamed/module-setup.sh
Labels: modules, systemd-hostnamed

#436 fix(rt): use singular argument for timeout value
  modules.d/90crypt/cryptroot-ask.sh
Labels: modules, crypt

#426 Remove reference to kernel module zlib in fips module
  modules.d/01fips/module-setup.sh
Labels: modules, fips

#430 test: virtual hardware watchdog not available on s390x
  test/run-qemu
Labels: test
