Repository dracut-ng/dracut-ng, pull requests merged in 2024-09, with the labels that each got.

#628 fix(udev-rules): remove systemd-specific rules
  modules.d/95udev-rules/module-setup.sh
Labels: modules, udev-rules

#626 chore: remove boilerplate
  modules.d/00bash/module-setup.sh
  modules.d/00dash/module-setup.sh
  modules.d/00systemd/module-setup.sh
  modules.d/00warpclock/module-setup.sh
  modules.d/01fips-crypto-policies/module-setup.sh
  modules.d/01fips/module-setup.sh
  modules.d/01systemd-ac-power/module-setup.sh
  modules.d/01systemd-initrd/module-setup.sh
  modules.d/01systemd-modules-load/module-setup.sh
  modules.d/01systemd-repart/module-setup.sh
  modules.d/01systemd-sysusers/module-setup.sh
  modules.d/01systemd-tmpfiles/module-setup.sh
  modules.d/04watchdog-modules/module-setup.sh
  modules.d/35connman/module-setup.sh
  modules.d/35network-manager/module-setup.sh
  modules.d/90kernel-network-modules/module-setup.sh
  modules.d/90ppcmac/module-setup.sh
  modules.d/95dasd/module-setup.sh
  modules.d/95rootfs-block/module-setup.sh
  modules.d/95zfcp/module-setup.sh
  modules.d/98dracut-systemd/module-setup.sh
  modules.d/98pollcdrom/module-setup.sh
  modules.d/98syslog/module-setup.sh
  modules.d/99base/module-setup.sh
  modules.d/99fs-lib/module-setup.sh
  modules.d/99shutdown/module-setup.sh
Labels: systemd, modules, bash, dash, warpclock, fips, systemd-initrd, network-manager, kernel-network-modules, ppcmac, dasd, rootfs-block, zfcp, dracut-systemd, pollcdrom, syslog, base, fs-lib, shutdown, connman, systemd-modules-load, systemd-sysusers, systemd-ac-power, systemd-repart, systemd-tmpfiles, watchdog-modules

#636 ci: add more fstypes support (xfs, jfs, f2fs)
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Gentoo
  test/container/Dockerfile-Ubuntu
  test/container/Dockerfile-Void
  test/container/Dockerfile-alpine
Labels: test

#633 test(FULL-SYSTEM): remove non-systemd dracut modules from the test
  test/TEST-04-FULL-SYSTEMD/test.sh
Labels: test

#643 ci: test plymouth dracut module in more containers
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Gentoo
  test/container/Dockerfile-Ubuntu
  test/container/Dockerfile-alpine
Labels: test, dracut-install

#640 feat(test-root): only include debug module if V is set to 2
  modules.d/80test-root/module-setup.sh
Labels: test, modules

#622 fix(fips-crypto-policies): make it depend on fips dracut module
  modules.d/01fips-crypto-policies/module-setup.sh
Labels: test, modules

#550 fix(dracut-install): do not assume handled path starts with sysrootdir
  src/install/dracut-install.c
Labels: dracut-install

#548 fix(dracut-install): handle correctly sysrootdir with trailing '/'
  src/install/dracut-install.c
Labels: dracut-install

#646 chore(dracut-install): fix clang build
  src/install/dracut-install.c
Labels: dracut-install

#649 ci(alpine): use clang instead of gcc for more test coverage
  test/container/Dockerfile-alpine
Labels: test

#655 fix(dracut-install): use correct data type for pid
  src/install/dracut-install.c
Labels: dracut-install

#574 feat(fips): add support for UKIs
  modules.d/01fips/fips.sh
  modules.d/01fips/module-setup.sh
Labels: modules, fips

#569 feat(dracut.sh): add --add-confdir option
  dracut.sh
  man/dracut.8.asc
  shell-completion/bash/dracut
Labels: man, shell-completion

#656 refactor(dracut-install): simplify open() call in cp()
  src/install/dracut-install.c
Labels: dracut-install

#662 docs: document more creation functions for dracut modules
  man/dracut.modules.7.asc
Labels: man

#606 chore: remove logtree
  .github/labeler.yml
  Makefile
  src/logtee/logtee.c
  test/test-functions
  tools/test-github.sh
Labels: test, github, logtee

#676 perf(systemd-initrd): do not depend on base module
  modules.d/01systemd-initrd/module-setup.sh
Labels: modules, systemd-initrd

#671 docs: clarify --print-cmdline
  man/dracut.8.asc
Labels: man

#679 chore: create a dedicated directory for each reference config
  dracut.conf.d/fips/50-fips.conf
  dracut.conf.d/generic/50-generic.conf
  dracut.conf.d/hostonly/50-hostonly.conf
  dracut.conf.d/ima/50-ima.conf
  dracut.conf.d/no-network/50-no-network.conf
  dracut.conf.d/no-xattr/50-no-xattr.conf
  dracut.conf.d/uki-virt/50-uki-virt.conf
  test/TEST-18-UEFI/test.sh
Labels: test

#678 fix(hwdb): only install /etc/udev/udev.hwdb in hostonly mode
  modules.d/95hwdb/module-setup.sh
Labels: modules, hwdb

#688 chore: .asc --> .adoc in preparation to improve manual generation
  Makefile
  README.md
  man/dracut-catimages.8.adoc
  man/dracut.8.adoc
  man/dracut.adoc
  man/dracut.bootup.7.adoc
  man/dracut.cmdline.7.adoc
  man/dracut.conf.5.adoc
  man/dracut.modules.7.adoc
  man/dracut.usage.adoc
  man/lsinitrd.1.adoc
  modules.d/98dracut-systemd/dracut-cmdline.service.8.adoc
  modules.d/98dracut-systemd/dracut-initqueue.service.8.adoc
  modules.d/98dracut-systemd/dracut-mount.service.8.adoc
  modules.d/98dracut-systemd/dracut-pre-mount.service.8.adoc
  modules.d/98dracut-systemd/dracut-pre-pivot.service.8.adoc
  modules.d/98dracut-systemd/dracut-pre-trigger.service.8.adoc
  modules.d/98dracut-systemd/dracut-pre-udev.service.8.adoc
  modules.d/98dracut-systemd/dracut-shutdown.service.8.adoc
Labels: modules, dracut-systemd, man

#681 fix(network): call both check_module and module_check
  modules.d/40network/module-setup.sh
Labels: modules, network
