Repository dracut-ng/dracut-ng, pull requests merged in 2024-03, with the labels that each got.

#29 ci: remove mkfs.ntfs from openSUSE test containers
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#27 fix(90multipath): drop unneeded dependencies from configure service
  modules.d/90multipath/multipathd-configure.service
Labels: modules, multipath

#24 fix(systemd-255): handle systemd-pcr{phase -> extend} rename
  modules.d/01systemd-pcrphase/module-setup.sh
Labels: modules, systemd-pcrphase

#25 fix(i18n): handle symlinked keymap
  modules.d/10i18n/module-setup.sh
Labels: modules, i18n

#20 fix(TEST-62-SKIPCPIO): test always skipped due to buggy `test_check`
  test/TEST-62-SKIPCPIO/test.sh
Labels: test

#22 test(UEFI): make test determinsitic
  test/TEST-18-UEFI/test-init.sh
  test/TEST-18-UEFI/test.sh
Labels: test

#19 fix(test): running tests no longer requires to be root
  Makefile
  docs/HACKING.md
  test/Makefile
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-OpenSuse-latest
  test/test-functions
Labels: test, docs

#23 revert(ci): install multipath-tools into openSUSE container
  test/container/Dockerfile-OpenSuse-latest
Labels: test

#32 chore(deps): bump docker/login-action from 2 to 3
  .github/workflows/container.yml
Labels: github

#21 ci: improve the redability of job names
  .github/workflows/integration.yml
Labels: github

#45 fix(45ifcfg): mark as deprecated and strictly opt-in
  modules.d/45ifcfg/module-setup.sh
  test/TEST-60-BONDBRIDGEVLAN/test.sh
Labels: test, modules, ifcfg

#43 ci: drop maintainer entry from container descriptor files
  test/container/Dockerfile-Arch
  test/container/Dockerfile-Debian
  test/container/Dockerfile-Fedora-latest
  test/container/Dockerfile-Gentoo
  test/container/Dockerfile-OpenSuse-latest
  test/container/Dockerfile-Ubuntu
Labels: test

#41 fix(net-lib): add a new dracut module called net-lib
  .github/labeler.yml
  modules.d/35connman/module-setup.sh
  modules.d/35network-legacy/module-setup.sh
  modules.d/35network-manager/module-setup.sh
  modules.d/40network/module-setup.sh
  modules.d/40network/netroot.sh
  modules.d/45net-lib/dhcp-root.sh
  modules.d/45net-lib/ifname-genrules.sh
  modules.d/45net-lib/module-setup.sh
  modules.d/45net-lib/net-lib.sh
  modules.d/45net-lib/netroot.sh
  modules.d/95nfs/nfs-lib.sh
  test/TEST-20-NFS/test.sh
Labels: test, modules, network-legacy, network-manager, network, nfs, github, connman

#47 ci: run legacy network tests on openSUSE instead of Fedora
  .github/workflows/integration.yml
Labels: github

#46 chore(github): update CODEOWNERS file
  .github/CODEOWNERS
Labels: github

#30 fix(overlayfs): allow hostonly and nfs support
  modules.d/90overlayfs/module-setup.sh
  test/TEST-20-NFS/client-init.sh
Labels: test, modules, overlayfs

#49 test(RAID): make test 10 use the test dracut modules
  test/TEST-10-RAID/finished-false.sh
  test/TEST-10-RAID/hard-off.sh
  test/TEST-10-RAID/test.sh
Labels: test

#51 fix(dmsquash-live): handle relative pathspec
  man/dracut.cmdline.7.asc
  modules.d/90dmsquash-live/dmsquash-live-root.sh
Labels: modules, dmsquash-live, man

#52 fix(rootfs-block): remove support for [no]readonlyroot and fastboot
  modules.d/95rootfs-block/mount-root.sh
Labels: modules, rootfs-block

#56 fix(dracut-install): file created without restricting permissions
  src/install/dracut-install.c
Labels: dracut-install

#17 fix(check_live_ram): increase /run tmpfs size, if needed
  modules.d/99base/dracut-lib.sh
  modules.d/99img-lib/img-lib.sh
Labels: modules, base, img-lib
