Repository dracut-ng/dracut-ng, pull requests merged in 2025-03, with the labels that each got.

#1232 feat(systemd-integritysetup): add remote-integritysetup.target
  modules.d/01systemd-integritysetup/module-setup.sh
Labels: modules, systemd-only, systemd-integritysetup

#1239 ci(fedora): always use update-crypto-policies to enable fips
  test/container/Dockerfile-fedora
Labels: test

#1250 fix(mdraid): do not call mdadm with full path
  modules.d/90mdraid/module-setup.sh
Labels: modules, mdraid

#1259 fix(multipath): skip default multipath.conf with mpathconf
  modules.d/90multipath/module-setup.sh
Labels: modules, multipath
