Repository dracut-ng/dracut-ng, pull requests merged in 2025-06, with the labels that each got.

#1381 test: initialize bootindex in qemu_add_drive
  test/test-functions
Labels: test

#1375 feat: support dracutsysrootdir being unset
  dracut-functions.sh
  dracut-init.sh
  dracut.sh
  modules.d/00systemd/module-setup.sh
  modules.d/01fips-crypto-policies/module-setup.sh
  modules.d/01systemd-cryptsetup/module-setup.sh
  modules.d/01systemd-modules-load/module-setup.sh
  modules.d/01systemd-sysext/module-setup.sh
  modules.d/03modsign/module-setup.sh
  modules.d/06dbus-daemon/module-setup.sh
  modules.d/10i18n/module-setup.sh
  modules.d/35connman/module-setup.sh
  modules.d/45plymouth/module-setup.sh
  modules.d/45plymouth/plymouth-populate-initrd.sh
  modules.d/45url-lib/module-setup.sh
  modules.d/70bluetooth/module-setup.sh
  modules.d/70crypt/module-setup.sh
  modules.d/70fs-lib/module-setup.sh
  modules.d/70lvm/module-setup.sh
  modules.d/70mdraid/module-setup.sh
  modules.d/73crypt-gpg/module-setup.sh
  modules.d/73zipl/module-setup.sh
  modules.d/74cifs/module-setup.sh
  modules.d/74debug/module-setup.sh
  modules.d/74fcoe/module-setup.sh
  modules.d/74fstab-sys/module-setup.sh
  modules.d/74iscsi/module-setup.sh
  modules.d/74nfs/module-setup.sh
  modules.d/74resume/module-setup.sh
  modules.d/74ssh-client/module-setup.sh
  modules.d/74terminfo/module-setup.sh
  modules.d/74udev-rules/module-setup.sh
  modules.d/77dracut-systemd/module-setup.sh
  modules.d/80base/module-setup.sh
  test/TEST-60-NFS/test.sh
  test/TEST-61-MULTINIC/test.sh
  test/TEST-62-BONDBRIDGEVLAN/test.sh
Labels: systemd, test, modules, modsign, i18n, url-lib, plymouth, crypt, lvm, iscsi, mdraid, zipl, cifs, crypt-gpg, debug, fstab-sys, fcoe, nfs, udev-rules, terminfo, resume, ssh-client, dracut-systemd, base, fs-lib, bluetooth, connman, systemd-sysext, dbus-daemon, systemd-modules-load, systemd-cryptsetup, fips-crypto-policies

#1385 chore: version lock commisery-action
  .github/workflows/pr.yml
Labels: github
