Repository dracut-ng/dracut-ng, pull requests merged in 2025-09, with the labels that each got.

#1673 fix: partial revert for hostonly sloppy mode
  modules.d/11systemd-cryptsetup/module-setup.sh
  modules.d/70btrfs/module-setup.sh
  modules.d/70crypt/module-setup.sh
  modules.d/70dmraid/module-setup.sh
  modules.d/70lvm/module-setup.sh
  modules.d/70mdraid/module-setup.sh
  modules.d/70multipath/module-setup.sh
  modules.d/70qemu-net/module-setup.sh
  modules.d/70qemu/module-setup.sh
  modules.d/74cifs/module-setup.sh
  modules.d/74fcoe-uefi/module-setup.sh
  modules.d/74fcoe/module-setup.sh
  modules.d/74hwdb/module-setup.sh
  modules.d/74iscsi/module-setup.sh
  modules.d/74lunmask/module-setup.sh
  modules.d/74nbd/module-setup.sh
  modules.d/74nfs/module-setup.sh
  modules.d/74nvmf/module-setup.sh
  modules.d/74virtiofs/module-setup.sh
Labels: modules, btrfs, crypt, dmraid, lvm, iscsi, mdraid, multipath, qemu-net, qemu, cifs, fcoe-uefi, lunmask, fcoe, nbd, nfs, nvmf, virtiofs, systemd-cryptsetup, hwdb

#1680 revert(fedora): switch to strict hostonly mode by default
  dracut.conf.d/fedora/01-dist.conf
Labels: fedora

#1666 chore(fedora): simplify Fedora configuration
  dracut.conf.d/fedora/01-dist.conf
Labels: fedora

#1692 ci(debian): revert Debian workarounds
  test/container/Dockerfile-debian
Labels: test

#1688 ci(debian): install packages recommended by packaging
  test/container/Dockerfile-debian
Labels: test

#1689 test(USR-MOUNT): add a test step to mount read-only btrfs snapshot
  test/TEST-11-USR-MOUNT/create-root.sh
  test/TEST-11-USR-MOUNT/test.sh
Labels: test

#1693 ci(debian): move workaround to the test case
  test/TEST-12-UEFI/test.sh
  test/TEST-43-KERNEL-INSTALL/test.sh
Labels: test, github

#1697 tests(FULL-SYSTEMD): remove dbus dependency
  test/TEST-41-FULL-SYSTEMD/test.sh
Labels: test

#1705 test(SKIPCPIO): support 3cpio
  test/TEST-81-SKIPCPIO/test.sh
Labels: test

#1713 fix(dbus, network-manager): make generic mode host independent
  modules.d/16dbus-broker/module-setup.sh
  modules.d/16dbus-daemon/module-setup.sh
  modules.d/35network-manager/module-setup.sh
Labels: modules, network-manager, dbus-broker, dbus-daemon

#1712 fix(iscsi): do not include /etc/iscsi/iscsid.conf in generic mode
  modules.d/74iscsi/module-setup.sh
Labels: modules, iscsi

#1735 fix(plymouth): drop depending on bash
  modules.d/45plymouth/module-setup.sh
Labels: modules, plymouth

#1566 feat(dracut): support setting compression level separately
  dracut.conf.d/opensuse/01-dist.conf
  dracut.sh
  man/dracut.conf.5.adoc
  shell-completion/bash/dracut
Labels: man, docs, shell-completion

#1736 fix(plymouth): check all library directories for Plymouth
  modules.d/45plymouth/module-setup.sh
Labels: modules, plymouth
