Repository dracut-ng/dracut-ng, pull requests merged in 2025-02, with the labels that each got.

#1216 test(ISCSI): skip root=ibft if qemu -acpitable is not supported
  test/TEST-70-ISCSI/test.sh
  test/run-qemu
Labels: test

#1225 test: typo in the GitHub Action name
  .github/workflows/integration-extra-arm64.yml
Labels: github

#1222 test: use persistent names for network devices
  test/TEST-61-MULTINIC/client-persistent-lan0.link
  test/TEST-61-MULTINIC/client-persistent-lan1.link
  test/TEST-61-MULTINIC/client-persistent-lan2.link
  test/TEST-61-MULTINIC/client-persistent-lan254.link
  test/TEST-61-MULTINIC/client-persistent-lan255.link
  test/TEST-61-MULTINIC/client-persistent-lan98.link
  test/TEST-61-MULTINIC/client-persistent-lan99.link
  test/TEST-61-MULTINIC/client.link
  test/TEST-61-MULTINIC/test.sh
  test/TEST-70-ISCSI/client-persistent-lan0.link
  test/TEST-70-ISCSI/client-persistent-lan1.link
  test/TEST-70-ISCSI/client.link
  test/TEST-70-ISCSI/test.sh
  test/TEST-71-ISCSI-MULTI/client-persistent-lan0.link
  test/TEST-71-ISCSI-MULTI/client-persistent-lan1.link
  test/TEST-71-ISCSI-MULTI/client.link
  test/TEST-71-ISCSI-MULTI/test.sh
Labels: test

#1217 test(FULL-SYSTEMD): skip encrypted root if qemu -smbios is not supported
  test/TEST-41-FULL-SYSTEMD/test.sh
Labels: test

#1203 test(FULL-SYSTEMD): skip systemd-network-management if missing
  test/TEST-41-FULL-SYSTEMD/test.sh
Labels: test

#1206 fix(release): tagging and release generation is no longer automated
  .github/workflows/release.yml
  tools/release.sh
Labels: github

#1152 fix(dracut-install): install compressed blobs that match wildcard fwpath
  src/install/dracut-install.c
Labels: dracut-install, c

#1214 btrfs: also install btrfstune
  modules.d/90btrfs/module-setup.sh
Labels: modules, btrfs

#1231 fix(systemd-sysusers): silence "Creating " on stderr
  modules.d/60systemd-sysusers/module-setup.sh
Labels: modules, systemd-sysusers

#1230 fix(systemd-veritysetup): install dm-verity kernel module
  modules.d/01systemd-veritysetup/module-setup.sh
Labels: modules, systemd-veritysetup
