Repository dracut-ng/dracut-ng, pull requests merged in 2025-05, with the labels that each got.

#1267 fix(systemd-cryptsetup): don't pull in fido2/pkcs11/tpm2-tss if omitted
  modules.d/01systemd-cryptsetup/module-setup.sh
Labels: modules, systemd-cryptsetup

#1291 fix: load more kernel modules in sloppy hostonly mode
  man/dracut.modules.7.adoc
  modules.d/00systemd/module-setup.sh
  modules.d/01systemd-integritysetup/module-setup.sh
  modules.d/01systemd-portabled/module-setup.sh
  modules.d/01systemd-pstore/module-setup.sh
  modules.d/01systemd-veritysetup/module-setup.sh
  modules.d/04watchdog-modules/module-setup.sh
  modules.d/35network-manager/module-setup.sh
  modules.d/45drm/module-setup.sh
  modules.d/45simpledrm/module-setup.sh
  modules.d/62bluetooth/module-setup.sh
  modules.d/90btrfs/module-setup.sh
  modules.d/90crypt/module-setup.sh
  modules.d/90dm/module-setup.sh
  modules.d/90dmsquash-live-autooverlay/module-setup.sh
  modules.d/90dmsquash-live/module-setup.sh
  modules.d/90kernel-modules/module-setup.sh
  modules.d/90kernel-network-modules/module-setup.sh
  modules.d/90mdraid/module-setup.sh
  modules.d/90pcmcia/module-setup.sh
  modules.d/90ppcmac/module-setup.sh
  modules.d/91tpm2-tss/module-setup.sh
  modules.d/95cifs/module-setup.sh
  modules.d/95fcoe/module-setup.sh
  modules.d/95iscsi/module-setup.sh
  modules.d/95nbd/module-setup.sh
  modules.d/95nvmf/module-setup.sh
  modules.d/95virtfs/module-setup.sh
  modules.d/95virtiofs/module-setup.sh
  modules.d/97masterkey/module-setup.sh
  modules.d/98ecryptfs/module-setup.sh
  modules.d/99fs-lib/module-setup.sh
Labels: systemd, test, modules, network-manager, drm, dm, btrfs, crypt, dmsquash-live, kernel-modules, kernel-network-modules, iscsi, mdraid, ppcmac, cifs, fcoe, nbd, nvmf, virtfs, masterkey, ecryptfs, fs-lib, bluetooth, github, virtiofs, man, tpm2-tss, docs, dmsquash-live-autooverlay, systemd-pstore, pcmcia, watchdog-modules, systemd-portabled, systemd-veritysetup, systemd-integritysetup, simpledrm

#1312 fix(simpledrm): add =drivers/gpu/drm/panel on ARM
  modules.d/45simpledrm/module-setup.sh
Labels: modules, simpledrm

#1317 test: sync only relevant files
  test/TEST-10-BASIC/test.sh
  test/TEST-13-SYSROOT/test.sh
  test/TEST-20-STORAGE/create-root.sh
  test/TEST-23-IMSM/create-root.sh
  test/TEST-26-ENC-RAID-LVM/create-root.sh
  test/TEST-30-DMSQUASH/test.sh
  test/TEST-43-KERNEL-INSTALL/test.sh
  test/TEST-60-NFS/client-init.sh
  test/TEST-60-NFS/create-root.sh
  test/TEST-61-MULTINIC/client-init.sh
  test/TEST-61-MULTINIC/create-root.sh
  test/TEST-62-BONDBRIDGEVLAN/create-root.sh
  test/TEST-70-ISCSI/client-init.sh
  test/TEST-70-ISCSI/create-client-root.sh
  test/TEST-71-ISCSI-MULTI/client-init.sh
  test/TEST-71-ISCSI-MULTI/create-client-root.sh
  test/TEST-72-NBD/client-init.sh
  test/TEST-72-NBD/create-encrypted-root.sh
  test/TEST-72-NBD/create-server-root.sh
  test/test-functions
Labels: test
