Repository dracut-ng/dracut-ng, pull requests merged in 2025-04, with the labels that each got.

#1248 ci(Fedora): make sure portablectl is installed
  test/container/Dockerfile-fedora
Labels: test

#1263 feat: add simpledrm module (as subset of drm module)
  .github/labeler.yml
  modules.d/45simpledrm/module-setup.sh
Labels: modules, github

#1265 feat(systemd): add new systemd-validatefs@.service
  modules.d/00systemd/module-setup.sh
Labels: systemd, modules, systemd-only

#1256 nfs: some fixes
  modules.d/95nfs/module-setup.sh
Labels: modules, nfs

#1262 fix(crypt): always install s390 crypto modules
  modules.d/90crypt/module-setup.sh
Labels: modules, crypt

#1244 test: add container for Azure Linux
  .github/workflows/container-extra.yml
  .github/workflows/integration-extra.yml
  .github/workflows/manualtest.yml
  test/container/Dockerfile-azurelinux
Labels: test, modules, github, systemd-integritysetup

#1122 feat(UKI): use ukify when available to generate UKI
  dracut.sh
Labels: test

#1269 test(NFS): remove hardcoded dracut module ordering
  test/TEST-60-NFS/test.sh
Labels: test

#1264 fix(base): only set ID to dracut if systemd is not used
  modules.d/99base/module-setup.sh
Labels: modules, base, regression, systemd-only

#1207 fix(rngd): do not check for +x perms
  modules.d/06rngd/module-setup.sh
Labels: modules, rngd, systemd-only

#1272 test(GETARG): remove hardcoded dracut module ordering
  test/TEST-80-GETARG/test.sh
Labels: test

#1212 fix(systemd-sysusers): make sure tss user for tpm2 is created
  modules.d/99systemd-sysusers/module-setup.sh
Labels: modules, regression, systemd-sysusers

#1277 ci(opensuse): make sure cpio is explicitelly installed
  test/container/Dockerfile-opensuse
Labels: test

#1278 ci(azurelinux): make sure tar is installed
  test/container/Dockerfile-azurelinux
Labels: test

#1276 chore: document recently introduced dracut modules
  doc_site/modules/ROOT/pages/modules/core.adoc
  doc_site/modules/ROOT/pages/modules/systemd.adoc
Labels: docs

#1281 man(usage): clarify hostonly
  man/dracut.usage.adoc
Labels: man, docs

#1285 ci(fedora): test 61 (MULTINIC) is failing on Fedora
  .github/workflows/integration.yml
Labels: github

#1283 fix: improve hostonly sloppy mode
  modules.d/01systemd-cryptsetup/module-setup.sh
  modules.d/90btrfs/module-setup.sh
  modules.d/90crypt/module-setup.sh
  modules.d/90dmraid/module-setup.sh
  modules.d/90kernel-modules/module-setup.sh
  modules.d/90lvm/module-setup.sh
  modules.d/90mdraid/module-setup.sh
  modules.d/90multipath/module-setup.sh
  modules.d/90qemu-net/module-setup.sh
  modules.d/90qemu/module-setup.sh
  modules.d/95cifs/module-setup.sh
  modules.d/95fcoe-uefi/module-setup.sh
  modules.d/95fcoe/module-setup.sh
  modules.d/95iscsi/module-setup.sh
  modules.d/95lunmask/module-setup.sh
  modules.d/95nbd/module-setup.sh
  modules.d/95nfs/module-setup.sh
  modules.d/95nvmf/module-setup.sh
  modules.d/95virtiofs/module-setup.sh
  modules.d/99fs-lib/module-setup.sh
Labels: modules, btrfs, crypt, dmraid, lvm, kernel-modules, iscsi, mdraid, multipath, qemu-net, qemu, cifs, fcoe-uefi, lunmask, fcoe, nbd, nfs, nvmf, virtfs, fs-lib, virtiofs, systemd-cryptsetup

#1288 ci(opensuse): enable strict hostonly
  test/container/Dockerfile-opensuse
Labels: test

#1280 ci(azurelinux): remove some binaries to workaround test failures
  test/TEST-41-FULL-SYSTEMD/test.sh
  test/container/Dockerfile-azurelinux
Labels: test

#1271 test(debian): enable url-lib dracut module testing
  test/container/Dockerfile-debian
Labels: test

#1294 fix(man): --include can be specified multiple times
  man/dracut.usage.adoc
Labels: man, docs

#1293 fix(base): tighten /dev/pts permissions
  modules.d/99base/init.sh
Labels: modules, base

#1292 fix(rngd): adjust license to match the license of the whole project
  modules.d/06rngd/module-setup.sh
Labels: modules, rngd

#1296 fix(squash-erofs): fix configuration in order to match SquashFS
  modules.d/95squash-erofs/module-setup.sh
Labels: modules

#1300 test(DMSQUASH): make sure ext4 and squashfs kernel modules are loaded
  test/TEST-30-DMSQUASH/test.sh
Labels: test, github
