Repository dracut-ng/dracut-ng, pull requests merged in 2025-08, with the labels that each got.

#1538 Various dracut-install ELF parsing fixes
  src/install/dracut-install.c
Labels: dracut-install, regression, c, highpriority

#1560 fix(dracut-install): broken calls to mmap with 0 length
  src/install/dracut-install.c
Labels: dracut-install, c

#1614 ci(gentoo): install networkmanager when systemd is not installed
  test/container/Dockerfile-gentoo
Labels: test
