Repository dracut-ng/dracut-ng, pull requests merged in 2025-07, with the labels that each got.

#1402 test: change tests to recommended configuration
  test/TEST-11-USR-MOUNT/test.sh
  test/TEST-12-UEFI/test.sh
Labels: test

#1399 test(GETARGS): initialize NEWROOT for dracut-lib.sh
  test/TEST-80-GETARG/test.sh
Labels: test

#1423 fix(network-manager): depend on dbus only when using systemd
  modules.d/35network-manager/module-setup.sh
Labels: modules, network-manager

#1436 Revert "chore: remove unused function"
  dracut-init.sh
Labels: regression, highpriority

#1428 fix(dracut-install): sort output of --modalias
  src/install/dracut-install.c
Labels: dracut-install, c

#1449 ci: install NetworkManager into the Void CI container
  test/container/Dockerfile-void
Labels: test

#1386 fix(dmsquash-live): erofs collision with latest util-linux
  modules.d/70dmsquash-live/dmsquash-live-root.sh
Labels: fedora, modules, dmsquash-live

#1454 docs(test): add new test/README.md
  test/README.md
Labels: test

#1480 fix(base): base module failure if root password is already set
  modules.d/80base/module-setup.sh
  test/TEST-13-SYSROOT/test.sh
Labels: bug, test, modules, base, highpriority

#1221 test: use "set -u" in all tests
  test/TEST-10-BASIC/test.sh
  test/TEST-11-USR-MOUNT/test.sh
  test/TEST-12-UEFI/test.sh
  test/TEST-13-SYSROOT/test.sh
  test/TEST-20-STORAGE/test.sh
  test/TEST-26-ENC-RAID-LVM/test.sh
  test/TEST-30-DMSQUASH/test.sh
  test/TEST-40-SYSTEMD/test.sh
  test/TEST-41-FULL-SYSTEMD/test.sh
  test/TEST-42-SYSTEMD-INITRD/test.sh
  test/TEST-43-KERNEL-INSTALL/test.sh
  test/TEST-60-NFS/test.sh
  test/TEST-61-MULTINIC/test.sh
  test/TEST-62-BONDBRIDGEVLAN/test.sh
  test/TEST-70-ISCSI/test.sh
  test/TEST-71-ISCSI-MULTI/test.sh
  test/TEST-72-NBD/test.sh
  test/TEST-80-GETARG/test.sh
  test/TEST-81-SKIPCPIO/test.sh
  test/TEST-82-DRACUT-CPIO/test.sh
Labels: test
